<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.school.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.school.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.school.web.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.school.web.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadExcelFileServlet</servlet-name>
    <servlet-class>com.school.web.controller.UploadExcelFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadExcelFileServlet</servlet-name>
    <url-pattern>/UploadExcelFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showServlet</servlet-name>
    <servlet-class>com.school.web.controller.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showDEServlet</servlet-name>
    <servlet-class>com.school.web.controller.ShowDEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showDEServlet</servlet-name>
    <url-pattern>/ShowDEServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAIServlet</servlet-name>
    <servlet-class>com.school.web.controller.ShowAIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAIServlet</servlet-name>
    <url-pattern>/ShowAIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showCSServlet</servlet-name>
    <servlet-class>com.school.web.controller.ShowCSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCSServlet</servlet-name>
    <url-pattern>/ShowCSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showGPServlet</servlet-name>
    <servlet-class>com.school.web.controller.ShowGPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showGPServlet</servlet-name>
    <url-pattern>/ShowGPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showGIServlet</servlet-name>
    <servlet-class>com.school.web.controller.ShowGIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showGIServlet</servlet-name>
    <url-pattern>/ShowGIServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>loginPage.jsp</welcome-file>
  </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
</web-app>
